fastapi==0.136.1
uvicorn==0.46.0
pymongo[srv]==4.17.0
pydantic==2.13.4
fer==22.4.0
mediapipe==0.10.35
opencv-python-headless==4.10.0.84
numpy==2.4.4
python-jose[cryptography]==3.5.0
bcrypt==5.0.0
google-auth==2.50.0
requests==2.33.1
python-multipart==0.0.27
scipy==1.17.1
moviepy==1.0.3
tensorflow-cpu
mtcnn==1.0.0
pandas==2.2.2
